[Unit]
Description=KP ASC-4PL Web App

[Service]
Environment=FLASK_APP=/root/kp_asc_4pl/kp_asc_4pl_webapp/application.py
ExecStart=/usr/local/bin/flask run -h 0.0.0.0
StandardOutput=syslog
StandardError=syslog
SyslogLevelPrefix=false
SyslogLevel=debug
SyslogIdentifier=kp_asc_4pl_webapp
Restart=always
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
Alias=kp_asc_4pl_webapp.service