body {
    padding-top: 80px;
}

.navbar {
    height: 65px;
}

.navbar-brand {
    padding: 12px 8px;
}

.navbar-btn {
    margin-right: 10px;
}

.btn-default.btn-transparent {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-default.btn-transparent:hover {
    color: #fff;
    background-color: transparent;
    border-color: #e0e0e0;
}

.btn-danger.btn-transparent {
    color: #d9534f;
    background-color: transparent;
    border-color: #d9534f;
}

.btn-danger.btn-transparent:hover {
    color: #d9534f;
    background-color: transparent;
    border-color: #c12e2a;
}

.btn-success.btn-transparent {
    color: #5cb85c;
    background-color: transparent;
    border-color: #5cb85c;
}

.btn-success.btn-transparent:hover {
    color: #5cb85c;
    background-color: transparent;
    border-color: #419641;
}

.btn-success.btn-transparent:disabled {
    opacity: 1.0;
}

.btn-bold {
    font-weight: bold;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.bank-row {
    margin-left: 0;
    margin-right: 0;
}

.bank-table {
    font-size: medium;
}

.bank-table-single {
    font-size: medium;
}

.bank-table > tbody > tr {
    line-height: 50px;
    min-height: 50px;
    height: 50px;
}

.bank-table > tbody > tr > td {
    vertical-align: middle;
}

.bank-name {
    text-transform: uppercase;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}