<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KP ASC-4PL Setup</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap_cyborg.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="static/css/navbar-fixed-top.css" rel="stylesheet">
</head>

<body>

<p>{{name}}</p>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="KP ASC-4PL Setup" src="static/img/kp_logo2.png" width="120">
            </a>
            <a class="btn btn-danger btn-lg btn-transparent pull-right navbar-btn" href="#" role="button"><span
                    class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
            <a class="btn btn-default btn-lg btn-transparent pull-right navbar-btn" href="#" role="button"><span
                    class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a>
            <a class="btn btn-success btn-lg btn-transparent pull-right navbar-btn" href="index.html" role="button"><span
                    class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
        </div>
    </div>
</nav>

<table class="table table-striped bank-table">
    <tbody>
    <tr onclick="window.document.location='bank2.html';">
        <td>Bank #1</td>
        <td>Mark</td>
        <td align="right"><span class="glyphicon glyphicon-triangle-right"></span></td>
    </tr>
    <tr>
        <td>Bank #2</td>
        <td>MarkMarkMa</td>
        <td align="right"><span class="glyphicon glyphicon-triangle-right"></span></td>
    </tr>
    <tr>
        <td>Bank #3</td>
        <td>Mark</td>
        <td align="right"><span class="glyphicon glyphicon-triangle-right"></span></td>
    </tr>
    <tr>
        <td>Bank #4</td>
        <td>Mark</td>
        <td align="right"><span class="glyphicon glyphicon-triangle-right"></span></td>
    </tr>
    <tr>
        <td>Bank #5</td>
        <td><span class="text-muted small">&lt;empty&gt;</span></td>
        <td align="right"><span class="glyphicon glyphicon-triangle-right" style="color: #888888;"></span></td>
    </tr>
    <tr>
        <td>Bank #6</td>
        <td><span class="text-muted small">&lt;empty&gt;</span></td>
        <td align="right"><span class="glyphicon glyphicon-triangle-right" style="color: #888888;"></span></td>
    </tr>
    <tr>
        <td>Bank #7</td>
        <td><span class="text-muted small">&lt;empty&gt;</span></td>
        <td align="right"><span class="glyphicon glyphicon-triangle-right" style="color: #888888;"></span></td>
    </tr>
    </tbody>
</table>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/js/jquery-slim.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/bootstrap-toggle.min.js"></script>
</body>
</html>
