{% extends "base.html" %}

{% block body %}

    <table class="table table-striped bank-table">
        <tbody>
        {% for id, bank in banks.items() %}
            <tr onclick="window.document.location='{{ url_for('show_bank', bank_id=id) }}';">
                <td>Bank #{{ id }}</td>
                {% if bank.name %}
                    <td>{{ bank.name }}</td>
                    <td align="right"><span class="glyphicon glyphicon-triangle-right"></span></td>
                {% else %}
                    <td><span class="text-muted small">&lt;empty&gt;</span></td>
                    <td align="right"><span class="glyphicon glyphicon-triangle-right" style="color: #888888;"></span></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}